<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/join" method="post">
    ID : <input type="text" name="userId"><br>
    PW : <input type="password" name="userPw"><br>
    NAME : <input type="password" name="userName"><br>
    <input type="submit" value="회원가입">
</form>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    // 속성선택자 [ ] , AJAX쓰기 전 확인 하는 코드
    const btn = document.querySelector("[type=submit]");
    btn.addEventListener("click", ( event ) => {
        event.preventDefault(); // 기본 기능 중지
        const formData = new FormData();
        const userId = document.querySelector("[name=userId]").value;
        formData.append("userId", userId);
        const userPw = document.querySelector("[name=userPw]").value;
        formData.append("userPw", userPw);
        const userName = document.querySelector("[name=userName]").value;
        formData.append("userName", userName);

        // ajax 4가지 .. axios 선택
        const res = axios({
            url: "/join",
            method: "post",
            data: formData
        });
        res.then((data) => {
            console.log(data.data);
        });
    });
</script>
</body>
</html>